body { margin: 0; background-color: #2c3e50; font-family: 'Rubik', sans-serif; }

header { padding: 30px; background-color: #2c3e50; }

header h1 { font-weight: bold; text-transform: uppercase; font-size: 48px; }

header p, header h1 { text-align: center; color: white; }

.container { margin: 0 auto; max-width: 700px; width: 100%; background-color: #FFF; padding: 10px; }

section { padding: 0 15%; }

.about h2 { color: #c0392b; margin-top: 60px; font-size: 28px; text-align: center; }

footer { padding: 30px; }

footer p { text-align: center; color: white; }

footer a { text-decoration: none; color: #27ae60; font-weight: bold; }

h1, h2, h3 { font-family: 'Montserrat', sans-serif; }
